%h1 FastMuffin
%header
  - if flash[:notice]
    %p.notice= flash[:notice]

%p
  Your most recent checkins are
  %ul
    - @checkins.each do |checkin|
      %li
        = checkin.venue_name
        at
        = checkin.checked_in_at.getlocal.strftime("%-I:%0M %P")

%p
  You're probably heading
  %ul
    - Checkin.predict(@checkins).each do |prediction|
      %li
        = "#{prediction.probability}%"
        = "(#{prediction.count} #{'time'.pluralize(prediction.count)})"
        to
        = prediction.venue_name
        at
        = prediction.arrival_time.getlocal.strftime("%-I:%0M %P")


%ul
  %li
    %a{:href => sync_path} Sync my checkins
  %li
    %a{:href => test_path} Test other predictions

%footer
  %a(href="/logout") Log out
